<div class="row">
    <!-- details form -->
    <div class="col-12 col-lg-6">
        {{ form_start(profileEditForm, { 'attr': {'class': 'sign__form sign__form--profile'} }) }}
            <div class="row">
                <div class="col-12">
                    <h4 class="sign__title">{{ 'vs_vvp.template.my_profile.profile_details' | trans( {},'VanzVideoPlayer' ) }}</h4>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="sign__group">
                        {{ form_label( profileEditForm.firstName, null, {'label_attr': {'class': 'sign__label'}} ) }}
                        {{ form_widget( profileEditForm.firstName, {'attr': {'class': 'sign__input'}, 'value': app.user.info.firstName} ) }}
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="sign__group">
                        {{ form_label( profileEditForm.lastName, null, {'label_attr': {'class': 'sign__label'}} ) }}
                        {{ form_widget( profileEditForm.lastName, {'attr': {'class': 'sign__input'}, 'value': app.user.info.lastName} ) }}
                    </div>
                </div>

                <div class="col-12">
                    <button class="sign__btn sign__btn--small" type="submit">
                        <span>{{ 'vs_vvp.template.my_profile.save' | trans( {},'VanzVideoPlayer' ) }}</span>
                    </button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <!-- end details form -->

    <!-- password form -->
    <div class="col-12 col-lg-6">
        {{ form_start(changePasswordForm, { 'attr': {'class': 'sign__form sign__form--profile'} }) }}
            <div class="row">
                <div class="col-12">
                    <h4 class="sign__title">{{ 'vs_vvp.template.my_profile.change_password' | trans( {},'VanzVideoPlayer' ) }}</h4>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="sign__group">
                        {{ form_label( changePasswordForm.oldPassword, null, {'label_attr': {'class': 'sign__label'}} ) }}
                        {{ form_widget( changePasswordForm.oldPassword, {'attr': {'class': 'sign__input'}} ) }}
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="sign__group">
                        {{ form_label( changePasswordForm.password.first, null, {'label_attr': {'class': 'sign__label'}} ) }}
                        {{ form_widget( changePasswordForm.password.first, {'attr': {'class': 'sign__input'}} ) }}
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="sign__group">
                        {{ form_label( changePasswordForm.password.second, null, {'label_attr': {'class': 'sign__label'}} ) }}
                        {{ form_widget( changePasswordForm.password.second, {'attr': {'class': 'sign__input'}} ) }}
                    </div>
                </div>

                <div class="col-12">
                    <button class="sign__btn sign__btn--small" type="submit">
                        <span>{{ 'vs_vvp.template.my_profile.change' | trans( {},'VanzVideoPlayer' ) }}</span>
                    </button>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>
    <!-- end password form -->
</div>