{% for cat in planCategories %}
    {% if cat.plans.count() %}
        <div class="row">
           <div class="col-12 mt-5">
                <h2 class="section__title">{{ cat.name }}</h2>
            </div>
            
            {% set currentSubscription = app.user.pricingPlanSubscriptions | last %}
            {% for plan in cat.plans %}
                {% if plan.enabled %}
                    {% if
                        ( app.user.pricingPlanSubscriptions | length ) and
                        currentSubscription.pricingPlan == plan and
                        currentSubscription.active
                    %}
                        {% set planActive = true %}
                        {% set planLower = false %}
                    {% else %}
                        {% set planActive = false %}
                        {% if currentSubscription.pricingPlan.price < plan.price %}
                            {% set planLower = false %}
                         {% else %}
                            {% set planLower = true %}
                        {% endif %}
                    {% endif %}
                            
                    <!-- active price plan -->
                    <div class="col-12 col-md-6 col-lg-4 order-md-2 order-lg-1">
                        <div 
                            class="plan{% if planActive or planLower %} plan--active{% endif %}{% if plan.premium %} plan--premium{% endif %}"
                        >
                            <h3 class="plan__title">{{ plan.title }}</h3>
                            <span class="plan__price">
                                {{ plan.price }} 
                                {% if plan.currencyCode in intlCurrencies|keys %}
                                    {{ intlCurrencies[plan.currencyCode] }}
                                {% else %}
                                    {{ plan.currencyCode }}
                                {% endif %}
                            </span>
                            <div class="plan__list">{{ plan.description | raw }}</div>
                            
                            {% if planActive %}
                                <button type="button" class="plan__btn">
                                    <span>{{ 'vs_vvp.template.pricing_plans.current_plan' | trans( {},'VanzVideoPlayer' ) }}</span>
                                </button>
                            {% elseif planLower %}
                                <button type="button" class="plan__btn">
                                    <span>{{ 'vs_vvp.template.pricing_plans.lower_than_active' | trans( {},'VanzVideoPlayer' ) }}</span>
                                </button>
                            {% else %}
                                <button type="button"
                                    class="plan__btn btnChoosePlan"
                                    data-url="{{ path( 'vs_payment_select_pricing_plan_form', {'pricingPlanId': plan.id} ) }}"
                                >
                                    <span>{{ 'vs_vvp.template.pricing_plans.choose_plan' | trans( {},'VanzVideoPlayer' ) }}</span>
                                </button>
                            {% endif %}
                        </div>
                    </div>
                    <!-- end active price plan -->
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}