{% extends "base.html.twig" %}

{% block content %}
    <!-- details -->
    <section class="section section--details">
        <!-- details background -->
        <div class="section__details-bg"
            data-bg="{{ asset( 'build/video-platform-theme/img/bg/actor__bg.jpg' ) }}"
        ></div>
        <!-- end details background -->

        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="section__title section__title--head float-start">{{ actor.name }}</h1>
                    <span class="item__rate float-start ms-3 mt-3">{{ ( actor.averageRating ) | number_format( 1 ) }}</span>
                </div>
                <!-- end title -->

                <!-- content -->
                <div class="col-12 col-xl-6">
                    <div class="item item--details">
                        <!-- card cover -->
                        <div class="item__cover">
                            <img src="{{ actor.photos.first().path | imagine_filter( 'actor_listing_photo' ) }}" alt="{{ actor.name }}">
                        </div>
                        <!-- end card cover -->

                        <!-- card content -->
                        <div class="item__content">
                            <ul class="item__meta item__meta--first">
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.career' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actor.career | trans( {},'VanzVideoPlayer' ) }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.height' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actor.height }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.date_of_birth' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actor.dateOfBirth | date( "d.m.Y" ) }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.place_of_birth' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actor.placeOfBirth }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.age' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actorAge }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.zodiac' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actorZodiac | capitalize }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.genres' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% for genre in actor.genres %}
                                        <a href="javascript:void(0);">{{ genre.name }}</a> 
                                    {% endfor %}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.total_number_of_movies' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ actor.videos.count }}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.first_movie' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% if firstMovie %}
                                        <a href="{{ path( 'vvp_movies_details', {'slug': firstMovie.slug} ) }}">{{ firstMovie.name }}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.last_movie' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% if lastMovie %}
                                        <a href="{{ path( 'vvp_movies_details', {'slug': lastMovie.slug} ) }}">{{ lastMovie.name }}</a>
                                    {% endif %}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.actors.best_movie' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% if bestMovie %}
                                        <a href="{{ path( 'vvp_movies_details', {'slug': bestMovie.slug} ) }}">{{ bestMovie.name }}</a>
                                    {% endif %}
                                </li>
                            </ul>
                        
                            {{ actor.description | raw }}
                        </div>
                        <!-- end card content -->
                        
                    </div>
                </div>
                <!-- end content -->
            </div>
        </div>
        <!-- end details content -->
    </section>
    <!-- end details -->
    
    {% include 'Pages/Actors/Partial/discover.html.twig' %}

{% endblock %}

{% block widgets %}
    {% include 'Partial/photoswipe.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/actors-details', null, 'VideoPlatformTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/actors-details', null, 'VideoPlatformTheme' ) }}
{% endblock %}
