<!-- filter -->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="col-12">
            
                {{ form_start( filterForm, { 'attr': {'class': 'filter__form', 'id': 'MoviesFilterForm'} } ) }}
                    <div class="filter__content">
                        <!-- menu btn -->
                        <button class="filter__menu" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path d="M19,2H5A3,3,0,0,0,2,5V6.17a3,3,0,0,0,.25,1.2l0,.06a2.81,2.81,0,0,0,.59.86L9,14.41V21a1,1,0,0,0,.47.85A1,1,0,0,0,10,22a1,1,0,0,0,.45-.11l4-2A1,1,0,0,0,15,19V14.41l6.12-6.12a2.81,2.81,0,0,0,.59-.86l0-.06A3,3,0,0,0,22,6.17V5A3,3,0,0,0,19,2ZM13.29,13.29A1,1,0,0,0,13,14v4.38l-2,1V14a1,1,0,0,0-.29-.71L5.41,8H18.59ZM20,6H4V5A1,1,0,0,1,5,4H19a1,1,0,0,1,1,1Z"></path>
                            </svg>
                            {{ 'vs_vvp.form.movies_filter.filter' | trans( {},'VanzVideoPlayer' ) }}
                        </button>
                        <!-- end menu btn -->
    
                        <!-- filter desk -->
                        <div class="filter__items">
                            {{ form_widget( filterForm.category, { 'id': 'filter__category', 'attr': { 'class': 'filter__select' } } ) }}
                            
                            {{ form_widget( filterForm.genre, { 'id': 'filter__genre', 'attr': { 'class': 'filter__select' } } ) }}
                            
                        {#
                            {{ form_widget( filterForm.quality, { 'id': 'filter__quality', 'attr': { 'class': 'filter__select' } } ) }}
                        #}
                        
                            {{ form_widget( filterForm.rating, { 'id': 'filter__rate', 'attr': { 'class': 'filter__select' } } ) }}
                        
                            {{ form_widget( filterForm.order_by, { 'id': 'filter__sort', 'attr': { 'class': 'filter__select' } } ) }}
                        </div>
                        <!-- end filter desk -->
                        
                        <div class="filter__btn__row">
                            <!-- apply btn -->
                            <button class="filter__btn me-2" type="button"
                                id="btnMoviesFilterApply"
                                data-category-slug="{{ categorySlug }}"
                            >
                                <span>{{ 'vs_vvp.form.movies_filter.apply' | trans( {},'VanzVideoPlayer' ) }}</span>
                            </button>
                            <!-- end apply btn -->
                            
                            <!-- clear btn -->
                            <button class="filter__btn" type="button"
                                id="btnMoviesFilterClear"
                                data-category-slug="{{ categorySlug }}"
                            >
                                <span>{{ 'vs_vvp.form.movies_filter.clear' | trans( {},'VanzVideoPlayer' ) }}</span>
                            </button>
                            <!-- end clear btn -->
                        </div>
    
                        <!-- amount -->
                        <span class="filter__amount">
                            {{ 'vs_vvp.form.movies_filter.showing' | trans( {},'VanzVideoPlayer' ) }} 
                            {{ movies.count }} 
                            {{ 'vs_vvp.form.movies_filter.of' | trans( {},'VanzVideoPlayer' ) }} 
                            {{ movies.totalItemCount }}
                        </span>
                        <!-- end amount -->
                    </div>
                {{ form_end( filterForm, {'render_rest': false} ) }}
                
            </div>
        </div>
    </div>
</div>
<!-- end filter -->
