<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab" tabindex="0">
    <div class="row">
        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/1.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Midnight Sun</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                    </span>
                    <span class="item__rate">7.1</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/2.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">The Shadow Hunter</a></h3>
                    <span class="item__category">
                        <a href="#">Romance</a>
                        <a href="#">Drama</a>
                        <a href="#">Music</a>
                    </span>
                    <span class="item__rate">6.3</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/3.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Wild Hearts</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                        <a href="#">Drama</a>
                    </span>
                    <span class="item__rate">7.9</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/4.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Dark Horizons</a></h3>
                    <span class="item__category">
                        <a href="#">Action</a>
                        <a href="#">Triler</a>
                    </span>
                    <span class="item__rate">8.4</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/5.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Electric Dreams</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                    </span>
                    <span class="item__rate">7.1</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/6.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Broken Promises</a></h3>
                    <span class="item__category">
                        <a href="#">Action</a>
                        <a href="#">Triler</a>
                    </span>
                    <span class="item__rate">8.4</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/7.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Fierce Grace</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                        <a href="#">Drama</a>
                    </span>
                    <span class="item__rate">7.9</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/8.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Burning Bridges</a></h3>
                    <span class="item__category">
                        <a href="#">Romance</a>
                        <a href="#">Drama</a>
                        <a href="#">Music</a>
                    </span>
                    <span class="item__rate">6.3</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/9.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Forbidden Love</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                        <a href="#">Drama</a>
                    </span>
                    <span class="item__rate">7.9</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/10.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">The Timekeeper's Daughter</a></h3>
                    <span class="item__category">
                        <a href="#">Action</a>
                        <a href="#">Triler</a>
                    </span>
                    <span class="item__rate">8.4</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/11.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">The Enchanted Forest</a></h3>
                    <span class="item__category">
                        <a href="#">Comedy</a>
                    </span>
                    <span class="item__rate">7.1</span>
                </div>
            </div>
        </div>
        <!-- end item -->

        <!-- item -->
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
            <div class="item">
                <a href="details1.html" class="item__cover">
                    <img src="{{ asset( 'build/video-platform-theme/img/covers/12.png' ) }}" alt="">
                    <span class="item__play">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
                    </span>
                </a>
                <div class="item__content">
                    <h3 class="item__title"><a href="details1.html">Relentless</a></h3>
                    <span class="item__category">
                        <a href="#">Romance</a>
                        <a href="#">Drama</a>
                        <a href="#">Music</a>
                    </span>
                    <span class="item__rate">6.3</span>
                </div>
            </div>
        </div>
        <!-- end item -->
    </div>
</div>
