<li class="comments__item{% if comment.parent %} comments__item--answer{% endif %}">
    <div class="comments__autor">
        <img class="comments__avatar" src="{{ asset( 'build/video-platform-theme/img/user.svg' ) }}" alt="{{ comment.author.info.fullName }}">
        <span class="comments__name">{{ comment.author.info.fullName }}</span>
        <span class="comments__time">{{ comment.createdAt | date( 'd.m.Y, H:i' ) }}</span>
    </div>
    <p class="comments__text">{{ comment.comment }}</p>
    <div class="comments__actions">
        <div class="comments__rate">
            <button type="button"
                class="btnLikeComment{% if app.user not in comment.userLikes %} not-liked{% endif %}"
                title="{% if app.user in comment.userLikes %}Unlike{% else %}Like{% endif %}"
                data-url="{{ path( 'vvp_movies_like_comment', {'commentId': comment.id} ) }}"
            >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"/>
                </svg>
                <span class="countLikes">{{ comment.likes }}</span>
            </button>

            <button type="button"
                class="btnDislikeComment{% if app.user not in comment.userDislikes %} not-disliked{% endif %}"
                title="{% if app.user in comment.userDislikes %}Remove Dislike{% else %}Dislike{% endif %}"
                data-url="{{ path( 'vvp_movies_dislike_comment', {'commentId': comment.id} ) }}"
            >
                <span class="countDislikes">{{ comment.dislikes }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"/>
                </svg>
            </button>
        </div>

        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z"/>
            </svg>Reply
        </button>
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M19,14a1,1,0,0,0-1.22.72A7,7,0,0,1,11,20H5.41l.64-.63a1,1,0,0,0,0-1.41A7,7,0,0,1,9.25,6.22a1,1,0,0,0-.5-1.94A9,9,0,0,0,4,18.62L2.29,20.29a1,1,0,0,0-.21,1.09A1,1,0,0,0,3,22h8a9,9,0,0,0,8.72-6.75A1,1,0,0,0,19,14ZM21,2a1,1,0,0,0-1,1h0a5,5,0,1,0,.3,7.75A1,1,0,1,0,19,9.25,3,3,0,1,1,17,4a3,3,0,0,1,2.23,1H18a1,1,0,0,0,0,2h3a1,1,0,0,0,1-1V3A1,1,0,0,0,21,2Z"/>
            </svg>Quote
        </button>
    </div>
</li>

{% if comment.children %}
    <ul class="children">
        {% for child in comment.children %}
            {% include 'Pages/Movies/Partial/MovieDiscover/video-comment.html.twig' with {'comment': child} %}
        {% endfor %}
    </ul>
{%endif %}
