<div class="row">
    <!-- reviews -->
    <div class="col-12">
        <div class="reviews">
            <ul class="reviews__list">
                {% for review in actor.reviews %}
                    <li class="reviews__item">
                        <div class="reviews__autor">
                            <img class="reviews__avatar" src="{{ asset( 'build/video-platform-theme/img/user.svg' ) }}" alt="{{ review.author.fullName }}">
                            <span class="reviews__name">{{ review.title }}</span>
                            <span class="reviews__time">{{ review.createdAt | date( 'd.m.Y' ) }}, by {{ review.author.fullName }}</span>
    
                            <span class="reviews__rating">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24">
                                    <path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"></path>
                                </svg>{{ ( review.rating ) | number_format( 1 ) }}
                            </span>
                        </div>
                        <p class="reviews__text">{{ review.comment }}</p>
                    </li>
                {% endfor %}
            </ul>

            {% if reviewForm %}
                {{ form_start( reviewForm, { 'attr': {'class': 'sign__form sign__form--comments', 'id': 'MovieReviewForm'} } ) }}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                {{ form_widget( reviewForm.title, { 'attr': { 'class': 'sign__input' } } ) }}
                            </div>
                        </div>
                        
                        <div class="col-12 col-md-6">
                            <div class="sign__group">
                                {{ form_widget( reviewForm.rating, { 'attr': { 'class': 'sign__select' } } ) }}
                            </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="sign__group">
                                {{ form_widget( reviewForm.comment, { 'attr': { 'class': 'sign__textarea' } } ) }}
                            </div>
                        </div>
    
                        <div class="col-12">
                            <button type="submit" class="sign__btn sign__btn--small" name="vs_vvp_actor_review[btnSubmit]">
                                <span>{{ 'vs_payment.form.review.submit' | trans( {},'VSPaymentBundle' ) }}</span>
                            </button>
                        </div>
                    </div>
                {{ form_end( reviewForm, {'render_rest': false} ) }}
            {% endif %}
            
        </div>
    </div>
    <!-- end reviews -->
</div>
