{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% import "@VSApplication/Macros/translations.html.twig" as vs_translations %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_vvp.template.list_videos' | trans( {},'VanzVideoPlayer' ) }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="ri-video-upload-line"></i> 
        {{ 'vs_vvp.template.list_videos' | trans( {},'VanzVideoPlayer' ) }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
            {{ form_label( filterForm.filterByCategory, null, {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget( filterForm.filterByCategory, {
                'attr': {
                    'class': 'form-select',
                    'data-value': filterCategory
                }
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            {% if resources|length > 0 %}
                <table class="table table-striped table-advance table-hover table-nowrap vsTableSortable">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th></th>
                            <th data-sortable="true" data-field="title" width="400">{{ 'vs_application.template.items_index_row_title' | trans( {},'VSApplicationBundle' ) }}</th>
                            <th width="450">{{ 'vs_vvp.template.coconut_job_status' | trans( {},'VanzVideoPlayer' ) }}</th>
                            {#
                            <th>{{ 'vs_vvp.template.items_index_row_categories' | trans( {},'VanzVideoPlayer' ) }}</th>
                            #}
                            <th>{{ 'vs_application.template.items_index_row_published' | trans( {},'VSApplicationBundle' ) }}</th>
                            <th>{{ 'vs_vvp.template.video_duration' | trans( {},'VanzVideoPlayer' ) }}</th>
                            <th>{{ 'vs_vvp.template.items_index_row_watched_by' | trans( {},'VanzVideoPlayer' ) }}</th>
                            <th>{{ 'vs_application.template.items_index_row_translations' | trans( {},'VSApplicationBundle' ) }}</th>
                            {#
                            <th>{{ 'vs_application.template.items_index_row_created' | trans( {},'VSApplicationBundle' ) }}</th>
                            #}
                            <th>{{ 'vs_application.template.items_index_row_updated' | trans( {},'VSApplicationBundle' ) }}</th>
                            <th width="150">{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
                        </tr>
                    </thead>
                    <tbody id="projectsContainer">
                        {% for item in resources %}
                            {% if not filterCategory or filterCategory in item.categories | keys  %}
                                <tr id="{{ item.id }}" data-id="{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    
                                    <td>
                                        {% if item.getPhoto( 'video_thumbnail' ) %}
                                            {% set videoThumbnail = item.getPhoto( 'video_thumbnail' ) %}
                                        {% endif %}
                                        
                                        <img src="{{ videoThumbnail.path | imagine_filter( 'index_page_thumbnail' ) }}" />
                                    </td>
                                    <td>{{ item.name }}</td>
                                    
                                    <td>
                                        {% if item.coconutVideoJob %}
                                            <span id="JobStatus-{{ item.coconutVideoJob.jobId }}">{{ item.coconutVideoJob.status }}</span>
                                            
                                            <a class="btn btnUpdateStatus" style="position: relative; right: 0; padding-right: 0;"
                                                href="javascript:void(0);"
                                                title="{{ 'vs_vvp.template.job_status_preview' | trans( {},'VanzVideoPlayer' ) }}"   
                                                data-url="{{ path( 'vvp_coconut_job_status', {'videoId': item.id} ) }}"
                                                data-output="JobStatus-{{ item.coconutVideoJob.jobId }}"
                                            >
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            
                                            <a class="btn btnRecreateCoconutJob" style="position: relative; right: 0; padding-left: 0;"
                                                href="javascript:void(0);"
                                                title="{{ 'vs_vvp.template.coconut_job_recreate' | trans( {},'VanzVideoPlayer' ) }}"   
                                                data-video-id="{{ item.id }}"
                                            >
                                                <i class="fas fa-undo-alt"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    {#
                                    <td>
                                        {% for cat in item.categories %}
                                            {{ cat.name }}{% if not loop.last %}<br />{% endif %}
                                        {% endfor %}
                                    </td>
                                    #}
                                    <td style="text-align: center;">
                                        {% if item.isPublished() %}
                                        	<i class="fas fa-check" style="color: #82c91e;">
                                       	{% else %}
                                        	<i class="fas fa-times" style="color: #ff1e1e;"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ item.videoFile.duration | vs_duration }}</td>
                                    <td>
                                        {{ item.watchedByUsers.count }} {{ 'vs_users.template.userscrud_index_pageheader' | trans( {},'VSUsersBundle' ) }}
                                    </td>
                                    <td>{{ vs_translations.flags( translations[item.id] ) }}</td>
                                    {#
                                    <td>{{ item.createdAt | date( "d.m.Y H:i:s" ) }}</td>
                                    #}
                                    <td>{{ item.updatedAt | date( "d.m.Y H:i:s" ) }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="javascript:void(0);" class="btn btn-light btn-icon" id="dropdownMenuLink15"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="true"
                                                title="Show Actions"
                                            >
                                                <i class="ri-equalizer-fill"></i>
                                            </a>
                                            
                                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink15">
                                                <li>
                                                    <a class="dropdown-item btn btn-outline-primary videoPreview"
                                                        href="javascript:void(0);"
                                                        {# data-url="{{ path( 'vvp_video_preview_by_provider', {'id': item.id} ) }}" #}
                                                        data-url="{{ path( 'vvp_video_preview_directly', {'id': item.id} ) }}"
                                                        title="{{ 'vs_vvp.template.video_preview' | trans( {},'VanzVideoPlayer' ) }}"
                                                    >
                                                        <i class="fas fa-eye me-2 align-middle text-muted"></i>
                                                        {{ 'vs_vvp.template.video_preview' | trans( {},'VanzVideoPlayer' ) }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item btn btn-primary"
                                                        href="{{ path( 'app_video_player_read', {'id': item.id} ) }}"
                                                        title="{{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}"
                                                    >
                                                        <i class="fas fa-download me-2 align-middle text-muted"></i>
                                                        {{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item btn btn-primary"
                                                       href="{{ path('vs_vvp_video_update', {'id': item.id}) }}"
                                                       title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"   
                                                    >
                                                        <i class="fas fa-edit me-2 align-middle text-muted"></i>
                                                        {{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item btn btn-danger btnDeleteResource"
                                                        href="{{ path('vs_vvp_video_delete', {'id': item.id}) }}"
                                                        data-csrfToken="{{ csrf_token( item.id ) }}"
                                                        data-redirectUrl="{{ path( 'vs_vvp_video_index' ) }}"
                                                        title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                                    >
                                                        <i class="fas fa-trash me-2 align-middle text-muted"></i>
                                                        {{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                
                {% if resources.haveToPaginate() %}
                    {{ pagerfanta( resources, null, { 'proximity': 10 } ) }}
                {% endif %}
            {% else %}
                {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block modals %}
    {{ parent() }}
    
    {% include 'Modals/coconut-job.html.twig' %}
    {% include 'Modals/video-preview.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/videos', null, 'VelzonTheme' ) }}
{% endblock %}

{% block head_scripts %}
    {{ parent() }}
    
    <script>
        window.availableFormats    = {{ availableFormats | json_encode() | raw }}
    </script>
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/videos', null, 'VelzonTheme' ) }}
{% endblock %}
