{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_vvp.template.page_title_coconut_settings_listing' | trans( {},'VanzVideoPlayer' ) }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="ri-settings-5-line"></i> 
        {{ 'vs_vvp.template.page_title_coconut_settings_listing' | trans( {},'VanzVideoPlayer' ) }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            {% if resources|length > 0 %}
                <table class="table table-striped table-advance table-hover vsTableSortable">
                    <thead class="table-light">
                        <tr>
                            <th></th>
                            <th>{{ 'vs_application.template.items_index_row_title' | trans( {},'VSApplicationBundle' ) }}</th>
                            <th>{{ 'vs_vvp.template.items_index_row_storage' | trans( {},'VanzVideoPlayer' ) }}</th>
                            <th>{{ 'vs_vvp.template.items_index_row_output_formats' | trans( {},'VanzVideoPlayer' ) }}</th>
                            <th width="150">{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
                        </tr>
                    </thead>
                    <tbody id="projectsContainer">
                        {% for item in resources %}
                            <tr id="{{ item.id }}" data-id="{{ item.id }}">
                                <td>{{ loop.index }}</td>
                                
                                <td>{{ item.title }}</td>
                                <td>{{ item.coconutStorage.title }}</td>
                                <td>{{ item.coconutOutputFormats | join( ', ' ) }}</td>
                                
                                <td>
                                    <div class="btn-group">
                                        
                                    	<a class="btn btn-primary"
                                    	   href="{{ path('vs_vvp_coconut_settings_update', {'id': item.id}) }}"
                                    	   title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"   
                                        >
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        
                                        <a class="btn btn-danger btnDeleteResource"
                                        	href="{{ path('vs_vvp_coconut_settings_delete', {'id': item.id}) }}"
                                        	data-csrfToken="{{ csrf_token( item.id ) }}"
                                        	data-redirectUrl="{{ path( 'vs_vvp_video_platform_settings_index' ) }}"
                                        	title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                        >
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                {% if resources.haveToPaginate() %}
                    {{ pagerfanta( resources, null, { 'proximity': 10 } ) }}
                {% endif %}
            {% else %}
                {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
            {% endif %}
        </div>
    </div>
    
    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/video-platform-settings', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/video-platform-settings', null, 'VelzonTheme' ) }}
{% endblock %}


