{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}
{% import "@VSApplication/Macros/OneUpUpload/progressbar.html.twig" as vs_progressbar %}
{% import "@VSApplication/Macros/OneUpUpload/oneup_upload.html.twig" as vs_oneup_upload %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vs_vvp.template.page_title_coconut_settings_update' | trans( {},'VanzVideoPlayer' ) ) ~ ': ' ~ item.title %}
{% else %}
    {% set pageTitle = 'vs_vvp.template.page_title_coconut_settings_create' | trans( {},'VanzVideoPlayer' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="ri-settings-5-line"></i> 
        {{ pageTitle }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_vvp.template.page_title_coconut_settings_details'  | trans( {},'VanzVideoPlayer' ) }}</h5>
            	
            	<div class="card-body">
            	
                    {% if form_errors(form) is not empty %}
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert">
                                <i class="fa fa-times"></i>
                            </button>
                            <strong>Error!</strong> {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    
                    {% if formErrors is defined %}
                        {{ vs_form.errors( formErrors ) }}     
                    {% endif %}
                    
                	{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                    {{ form_start(form, { 'attr': {'id': 'FormCoconutSettings'}, 'method': method }) }}
                        <div class="form-group">
                            {{ form_label(form.title, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                	
                        <div class="form-group">
                            {{ form_label(form.coconutApiKey, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.coconutApiKey, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.coconutStorage, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.coconutStorage, {'attr': {'class': 'form-select'}}) }}
                        </div>

                        <div class="row">&nbsp;</div>
                        
                        <fieldset class="border border-dark rounded p-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.coconut_system_credentials' | trans( {},'VanzVideoPlayer' ) }}</legend>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutSystemUser, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutSystemUser, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutSystemPassword, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutSystemPassword, {'attr': {'class': 'form-control'}, 'value': item.coconutSystemPassword}) }}
                            </div>
                        </fieldset>
                        
                        <div class="row">&nbsp;</div>
                        
            			<fieldset class="border border-dark rounded p-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.output_formats' | trans( {},'VanzVideoPlayer' ) }}</legend>
                            
                            <div class="row ms-2 mb-4">
                               
                               <div class="form-check form-check-secondary mb-3">
                                    <input type="checkbox" id="coconut_settings_form_coconutWatermark"
                                    	name="coconut_settings_form[coconutWatermark]"
                                        class="form-check-input"
                                        {% if item.coconutWatermark %}checked="checked"{% endif %}
                                    />
                                    <label class="form-check-label" for="coconut_settings_form_coconutWatermark">
                                        {{ 'vs_vvp.form.video_platform_settings.coconut_set_watermark'|trans({}, 'VanzVideoPlayer') }}
                                    </label>
                                </div>
                            </div>
                            
                            <div class="OutputFormatsContainer"
                                data-prototype="{% apply escape %}{% include 'Pages/CoconutSettings/add-output-format-prototype.html.twig' with {'form': form.coconutOutputFormats.vars.prototype} %}{% endapply %}"
                            >
                                {% for format in form.coconutOutputFormats %}
                                    {% include 'Pages/CoconutSettings/add-output-format-prototype.html.twig' with {'form': format} %}
                                {% endfor %}
                            </div>
                        </fieldset>
                        
                        <div class="row">&nbsp;</div>
                        
                        <fieldset class="border border-dark rounded p-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.coconut_input_settings' | trans( {},'VanzVideoPlayer' ) }}</legend>
                            
                            <div class="form-group">
                                <label class="form-label">
                                    {{ 'vs_vvp.form.video_platform_settings.coconut_input_url_type' | trans( {},'VanzVideoPlayer' ) }}
                                </label>
                                {% for child in form.coconutInputUrlType %}
                                    <div class="custom-control custom-radio">
                                        {{- form_widget(child, {'attr': {'class': 'form-check-input me-2 mb-2'}}) -}}
                                        {{- form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) -}}
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                        
                        <fieldset class="border border-dark rounded p-3 mt-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.coconut_clip_settings_title' | trans( {},'VanzVideoPlayer' ) }}</legend>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutClipFormat, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutClipFormat, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutClipOffset, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutClipOffset, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutClipDuration, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutClipDuration, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            
                            <div class="form-group">
                                {{ form_label(form.coconutClipOutputUrl, null, {
                                    'label_attr': {'class': 'form-label'}
                                    }) 
                                }}
                                
                                {{ form_widget(form.coconutClipOutputUrl, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </fieldset>
                        
                        {{ vs_form.buttons( form, metadata ) }}
                
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/video-platform-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/video-platform-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}
