{% extends "base.html.twig" %}

{% block content %}
    <!-- details -->
    <section class="section section--details">
        <!-- details background -->
        <div class="section__details-bg"
            data-bg="{{ asset( 'build/video-platform-theme/img/bg/details__bg.jpg' ) }}"
        ></div>
        <!-- end details background -->
    
        <!-- details content -->
        <div class="container">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h1 class="section__title section__title--head">{{ movie.title }}</h1>
                </div>
                <!-- end title -->
    
                {% if movie.getPhoto( 'video_thumbnail' ) %}
                    {% set videoThumbnail = movie.getPhoto( 'video_thumbnail' ) %}
                {% endif %}

                <!-- content -->
                <div class="col-12 col-xl-6">
                    <div class="item item--details">
                        <!-- card cover -->
                        <div class="item__cover">
                            <img src="{{ videoThumbnail.path | imagine_filter( 'movies_listing_thumbnail' ) }}" alt="{{ movie.title }}">
                        </div>
                        <!-- end card cover -->
    
                        <!-- card content -->
                        <div class="item__content">
                            <div class="item__wrap">
                                <span class="item__rate">{{ ( movie.averageRating ) | number_format( 1 ) }}</span>
    
                                <ul class="item__list">
                                    {% if movieTags %}
                                        {% for tag in movieTags %}
                                            <li>{{ tag.value }}</li>
                                        {% endfor %}
                                     {% else %}
                                        {% for tag in ( movie.tags | split( ',' ) ) %}
                                            <li>{{ tag }}</li>
                                        {% endfor %}
                                     {% endif %}
                                </ul>
                            </div>

                            <ul class="item__meta">
                                <li>
                                    <span>{{ 'vs_vvp.form.movies_filter.category_label' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% for category in movie.categories %}
                                        <a href="#">{{ category.name }}</a>
                                    {% endfor %}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.form.movies_filter.genre_label' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {% for genre in movie.genres %}
                                        <a href="#">{{ genre.name }}</a>
                                    {% endfor %}
                                </li>
                                <li>
                                    <span>{{ 'vs_vvp.template.movies.running_time' | trans( {},'VanzVideoPlayer' ) }}:</span> 
                                    {{ movie.videoFile.duration | vs_duration }}
                                </li>
                            </ul>
    
                            <ul class="item__meta item__meta--second">
                            {% if movie.actors.count() %}
                                <li><span>Actors:</span>
                                    {% for actor in movie.actors %}
                                        <a href="{{ path( 'vvp_actor_details', {'slug': actor.slug} ) }}">{{ actor.name }}</a>
                                    {% endfor %}
                                </li>
                            {% endif %}
                            </ul>
                        </div>
    
                        <div class="item__description item__description--details">
                            {{ movie.description | raw }}
                        </div>
                        <!-- end card content -->
                    </div>
                </div>
                <!-- end content -->
    
                <!-- player -->
                <div class="col-12 col-xl-6">
                    {% include 'Pages/Movies/Partial/VideoPlayer/' ~ videoPlayer ~ '.html.twig' %}
                    
                    {#
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-3">
                            <span style="color: #c7c7c7;">
                                {{ 'vs_vvp.template.movies.rate_this_video' | trans( {},'VanzVideoPlayer' ) }}: 
                            </span>
                        </div>
                        <div class="col-9" style="padding-top: 5px;">
                            <div id="basic-rater" dir="ltr" data-myRating="{{ movie.averageRating }}"></div>
                        </div>
                    </div>
                    #}
                    
                </div>
                <!-- end player -->
                
            </div>
        </div>
        <!-- end details content -->
    </section>
    <!-- end details -->
    
    {% include 'Pages/Movies/Partial/movie-discover.html.twig' %}
{% endblock %}

{% block widgets %}
    {% include 'Partial/photoswipe.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/movies-details', null, 'VideoPlatformTheme' ) }}
    {{ encore_entry_link_tags( 'js/player-' ~ videoPlayer, null, 'VideoPlatformTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        var videoSlug = '{{ app.request.get( 'slug' ) }}';
    </script>
    {{ encore_entry_script_tags( 'js/movies-details', null, 'VideoPlatformTheme' ) }}
    {{ encore_entry_script_tags( 'js/player-' ~ videoPlayer, null, 'VideoPlatformTheme' ) }}
{% endblock %}

