{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% from '@SyliusResource/Macros/actions.html.twig' import create %}
{% import "@VSApplication/Macros/form.html.twig" as vs_form %}
{% import "@VSApplication/Macros/tree.html.twig" as vs_tree %}
{% import "@VSApplication/Macros/OneUpUpload/progressbar.html.twig" as vs_progressbar %}
{% import "@VSApplication/Macros/OneUpUpload/oneup_upload.html.twig" as vs_oneup_upload %}

{% if( item.id ) %}
    {% set pageTitle = ( 'vs_vvp.template.page_title_video_platform_settings_update' | trans( {},'VanzVideoPlayer' ) ) ~ ': ' ~ item.settingsKey %}
{% else %}
    {% set pageTitle = 'vs_vvp.template.page_title_video_platform_settings_create' | trans( {},'VanzVideoPlayer' ) %}
{% endif %}

{% block title %}{{ parent() }} :: {{ pageTitle }}{% endblock %}
{% block pageTitle %}
	<h4 class="pageheader-title">
    	<i class="ri-settings-5-line"></i> 
        {{ pageTitle }}
   	</h4>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
            	<h5 class="card-header">{{ 'vs_vvp.template.page_title_video_platform_settings_details'  | trans( {},'VanzVideoPlayer' ) }}</h5>
            	
            	{% if(item.id) %}{% set method = "PUT" %}{% else %}{% set method = "POST" %}{% endif %}
                {{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'FormVideoPlatformSettings'}, 'method': method }) }}
                
                    <div class="card-body">
                    
                        {% if form_errors(form) is not empty %}
                            <div class="alert alert-block alert-danger fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Error!</strong> {{ form_errors(form) }}
                            </div>
                        {% endif %}
                        
                        <div class="form-group">
                            {{ form_label(form.settingsKey, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.settingsKey, {'attr': {'class': 'form-control'}}) }}
                            
                            <p>{{ 'vs_vvp.form.video_platform_settings.settings_key_help'  | trans( {},'VanzVideoPlayer' ) }}</p>
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.coconutSettings, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.coconutSettings, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.originalVideosStorage, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.originalVideosStorage, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        
                        <div class="form-group">
                            {{ form_label(form.videoSuggestionsAssociationType, null, {
                                'label_attr': {'class': 'form-label'}
                                }) 
                            }}
                            
                            {{ form_widget(form.videoSuggestionsAssociationType, {'attr': {'class': 'form-select'}}) }}
                        </div>
                        
                    </div>
                        
                	<h5 class="card-header sub-header">{{ 'vs_vvp.template.video_platform_settings.general_settings'  | trans( {},'VanzVideoPlayer' ) }}</h5>
                	<div class="card-body">
                	   
                	   <div class="form-group">
                    	   <div class="form-check form-check-secondary mb-3">
                                <input type="checkbox" id="video_platform_settings_form_useFFMpeg"
                                	name="video_platform_settings_form[useFFMpeg]"
                                    class="form-check-input"
                                    {% if item.useFFMpeg %}checked="checked"{% endif %}
                                />
                                <label class="form-check-label" for="video_platform_settings_form_useFFMpeg">
                                    {{ 'vs_vvp.template.video_platform_settings.use_ffmpeg' | trans({}, 'VanzVideoPlayer') }}
                                </label>
                                <small class="text-muted ms-2">
                                	( {{ 'vs_vvp.form.video_platform_settings.use_ffmpeg_help' | trans( {},'VanzVideoPlayer' ) }} )
                                </small>
                            </div>
                        </div>
                        
                        <div class="form-group">
                           <div class="form-check form-check-secondary mb-3">
                                <input type="checkbox" id="video_platform_settings_form_disableVideosForNonAuthenticated"
                                	name="video_platform_settings_form[disableVideosForNonAuthenticated]"
                                    class="form-check-input"
                                    {% if item.disableVideosForNonAuthenticated %}checked="checked"{% endif %}
                                />
                                <label class="form-check-label" for="video_platform_settings_form_disableVideosForNonAuthenticated">
                                    {{ 'vs_vvp.form.video_platform_settings.disable_videos_for_non_authenticated' | trans({}, 'VanzVideoPlayer') }}
                                </label>
                                <small class="text-muted ms-2">
                                	( {{ 'vs_vvp.form.video_platform_settings.disable_videos_for_non_authenticated_help' | trans( {},'VanzVideoPlayer' ) }} )
                                </small>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-check form-check-secondary mb-3">
                                <input type="checkbox" id="video_platform_settings_form_displayOnlyTranscoded"
                                	name="video_platform_settings_form[displayOnlyTranscoded]"
                                    class="form-check-input"
                                    {% if item.displayOnlyTranscoded %}checked="checked"{% endif %}
                                />
                                <label class="form-check-label" for="video_platform_settings_form_displayOnlyTranscoded">
                                    {{ 'vs_vvp.form.video_platform_settings.display_only_transcoded' | trans({}, 'VanzVideoPlayer') }}
                                </label>
                                <small class="text-muted ms-2">
                                	( {{ 'vs_vvp.form.video_platform_settings.display_only_transcoded_help' | trans( {},'VanzVideoPlayer' ) }} )
                                </small>
                            </div>
                        </div>
                        
                        <div class="form-group">
                           <div class="form-check form-check-secondary mb-3">
                                <input type="checkbox" id="video_platform_settings_form_useOnhoverPlayer"
                                    name="video_platform_settings_form[useOnhoverPlayer]"
                                    class="form-check-input"
                                    {% if item.useOnhoverPlayer %}checked="checked"{% endif %}
                                />
                                <label class="form-check-label" for="video_platform_settings_form_useOnhoverPlayer">
                                    {{ 'vs_vvp.form.video_platform_settings.use_onhover_player' | trans({}, 'VanzVideoPlayer') }}
                                </label>
                                <small class="text-muted ms-2">
                                    ( {{ 'vs_vvp.form.video_platform_settings.use_onhover_player_help' | trans( {},'VanzVideoPlayer' ) }} )
                                </small>
                            </div>
                        </div>
                        
                        <fieldset class="border border-dark rounded p-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.video_player_transcoded_urls' | trans( {},'VanzVideoPlayer' ) }}</legend>
                        
                            <div class="form-group">
                               {% for child in form.transcodedVideoUrlsType %}
                                    <div class="custom-control custom-radio">
                                        {{- form_widget(child, {'attr': {'class': 'form-check-input me-2 mb-2'}}) -}}
                                        {{- form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) -}}
                                        
                                        {% if child.vars.label == 'vs_vvp.form.video_platform_settings.video_url_type_symfony_route' %}
                                            <small class="text-muted ms-2">
                                            	( {{ 'vs_vvp.form.video_platform_settings.video_url_type_symfony_route_help'  | trans( {},'VanzVideoPlayer' ) }} )
                                            </small>
                                        {% elseif child.vars.label == 'vs_vvp.form.video_platform_settings.video_url_type_cloud_public_url' %}
                                            <small class="text-muted ms-2">
                                            	( {{ 'vs_vvp.form.video_platform_settings.video_url_type_cloud_public_url_help'  | trans( {},'VanzVideoPlayer' ) }} )
                                            </small>
                                        {% elseif child.vars.label == 'vs_vvp.form.video_platform_settings.video_url_type_cloud_signed_url' %}
                                            <small class="text-muted ms-2">
                                            	( {{ 'vs_vvp.form.video_platform_settings.video_url_type_cloud_signed_url_help'  | trans( {},'VanzVideoPlayer' ) }} )
                                            </small>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                        
                        <fieldset class="border border-dark rounded p-3 mt-3">
                            <legend class="w-auto float-none ps-2 pe-2">{{ 'vs_vvp.form.video_platform_settings.video_clip_makers_title' | trans( {},'VanzVideoPlayer' ) }}</legend>
                        
                            <div class="form-group">
                               {% for child in form.videoClipMaker %}
                                    <div class="custom-control custom-radio">
                                        {{- form_widget(child, {'attr': {'class': 'form-check-input me-2 mb-2'}}) -}}
                                        {{- form_label(child, null, {'label_attr': {'class': 'form-check-label'}}) -}}
                                    </div>
                                {% endfor %}
                            </div>
                        </fieldset>
                        
                	</div>
                	
                    <div class="card-body">
                        {{ vs_form.buttons( form, metadata ) }}
                    </div>
                
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block head_styles %}
	{{ parent() }}
	
	{{ encore_entry_link_tags( 'js/video-platform-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/video-platform-settings-edit', null, 'VelzonTheme' ) }}
{% endblock %}
