{% extends "base-login.html.twig" %}

{% block content %}
	<!-- authorization form -->
    <form action="{{ path('vs_users_forgot_password_form') }}" class="sign__form" method="post">
        <a href="{{ path( 'app_home' ) }}" class="sign__logo">
            <img src="{{ asset( 'build/video-platform-theme/img/logo.svg' ) }}" alt="{{ applicationTitle }}">
        </a>

        <div class="sign__group">
            <input type="text" class="sign__input" placeholder="Email">
        </div>

        <div class="sign__group sign__group--checkbox">
            <input id="remember" name="remember" type="checkbox" checked="checked">
            <label for="remember">I agree to the <a href="{{ path( 'vs_cms_pages_show_by_slug', {'slug': 'privacy-policy'} ) }}">Privacy policy</a></label>
        </div>
        
        <button class="sign__btn" type="submit"><span>Recover</span></button>

        <span class="sign__text">We will send a password to your Email</span>
    </form>
    <!-- end authorization form -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/static-page', null, 'VideoPlatformTheme' ) }}
{% endblock %}
