{% import "@VSApplication/Macros/translations.html.twig" as vs_translations %}

<tr data-node-id="{{ item.id }}" {% if parentId %}data-node-pid="{{ item.parent.id }}"{% endif %}>

    <td>{{ item.getNameTranslated( app.request.locale ) }}</td>
    <td>{{ vs_translations.flags( translations[item.id] ) }}</td>
    
    <td>
    	<div class="btn-group">
            <a class="btn btn-primary"
                href="{{ path( 'vs_vvp_video_category_update', {'id': item.id} ) }}"
                title="{{ 'vs_application.template.items_index_row_action_edit' | trans( {},'VSApplicationBundle' ) }}"
            >
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-danger btnDeleteResource" 
                href="{{ path( 'vs_vvp_video_category_delete', {'id': item.id} ) }}"
                data-csrfToken="{{ csrf_token( item.id ) }}"
                data-redirectUrl="{{ path( 'vs_vvp_video_category_index' ) }}"
                title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
            >
                <i class="icon_close_alt2"></i>
            </a>
        </div>
    </td>
    
</tr>

{% for child in item.children %}
	{% include 'Pages/VideosCategories/partial/simpleTreeTableRows.html.twig' with {'parentId': item.id, 'taxon': child} %}   
{% endfor %}
